
@media screen and (max-width: 975px) {#top_space {width: 640px;}}
@media screen and (min-width: 975px) {#top_space {width: 860px;}}
@media screen and (min-width: 1150px) {#top_space {width: 1080px;}}

/* スライダー全体 */
.swiper {
  width: auto;
  height: 210px; /* 高さ */
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden; /* はみ出し防止 */
}

/* スライドの動きを一定にする */
.swiper-wrapper {transition-timing-function: linear;}

/* 各スライドの画像 幅 高さ*/
/* .swiper-slide img {width: auto; height: auto;} */


